<table class="table table-striped"> 
	<tr>
		<th></th><th>Played</th><th>Wins</th><th>Draws</th><th>Losses</th>
	</tr>
	<tr ng-repeat="plyr in players">
		<td>{{plyr.getName()}}</td>
		<td><b>{{plyr.matches}}<b></td>
		<td>{{plyr.wins}} <span class="percentage small">({{(plyr.wins / plyr.matches) * 100 | number:0}}%)</span></td>
		<td>{{plyr.draws}}</td>
		<td>{{plyr.losses}}</td>
	</tr>
</table>


<button class="btn btn-success" ng-click="addPlayer()"><span class="gglyphicon glyphicon-plus"/> Add User</button>
