
<div ng-show="alert.message" class="alert alert-{{alert.style}} animate-show" role="alert">{{alert.message}}</div>
<input type="text" ng-model="search.name" placeholder="Search...">
<select ng-model="quality">
	<option value="5">5</option>
	<option value="4.5">4.5</option>
	<option value="4">4</option>
</select>
<table class="table table-striped"> 
	<tr>
		<th></th><th>Name</th><th>Quality</th><th>ATT</th><th>MID</th><th>DEF</th>
	</tr>
	<tr ng-repeat="team in teams | filter:search">
		<td><img src="" class="flag flag-{{team.country|lowercase}}" /></td>
		<td>{{team.name}}</td>
		<td>{{team.quality}}</td>
		<td>{{team.att}}</td>
		<td>{{team.mid}}</td>
		<td>{{team.def}}</td>
		<td><a ng-click="editTeam(team)"><span class="glyphicon glyphicon-pencil"/></a></td>
	</tr>
</table>

<button class="btn btn-success"><span class="gglyphicon glyphicon-plus"/> Add Team</button>
